p{
    color:skyblue;
}
table{
    border-collapse: collapse;
}
th,td{
    border:1px solid black;
    width:100px;
    text-align: center;
}
a{
    text-decoration: none;
}
#ad{
    position:fixed;
    bottom:10px;
    right:10px;
    background: skyblue;
}
ul{
    list-style: none;
}