.middle .content{
    border: 1px solid #e8dede;
}
.middle .content .register-content{
    width:480px;
    height:600px;
    background: white;
    margin:20px auto;
}
.middle .content .register-content .top-content{
    height:50px;
    width:440px;
    margin-left:20px;
    line-height: 50px;
    border-bottom: 1px solid gainsboro;
}
.middle .content .register-content .top-content h3{
    float:left;
    font-size:20px;
    border-bottom: 3px solid purple;
    box-sizing: border-box;
    height:50px;
}
.middle .content .register-content .top-content a{
    float:right;
    font-size:20px;
    color:skyblue;
}
.middle .content .register-content .register-form{
    margin-left: 20px;
}
.middle .content .register-content .register-form input{
    height:50px;
    width:440px;
    margin-top:20px;
    font-size:20px;
    border-radius: 5px;
    border:1px solid gainsboro;
    text-indent: 1em;
}
.middle .content .register-content .register-form input.inp{
    width:300px;
}
.middle .content .register-content .register-form a{
    display: inline-block;
    height:50px;
    width:130px;
    margin-left:10px;
    border: 1px solid gainsboro;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
}
.middle .content .register-content .register-form .btn{
    background: deepskyblue;
}