{% extends 'teacher/base.html' %}
{% load static %}
{% load customer_filters %}
{% load customer_tags %}
{% block title %}主页{% endblock %}
{#    <link rel="stylesheet" href="/aaaaaaa/teacher/css/index.css">    # 不推荐#}
{% block link %}
    <link rel="stylesheet" href="{% static 'teacher/css/index.css' %}">
{% endblock %}
{% block content %}
    <h3>我是第{{ num }}次访问</h3>
    <table>
        <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>身高</th>
            <th>性别</th>
            <th>课表</th>
        </tr>
        {% for student in students %}
            {% with stu_name=student.name %}

        <tr {% if student.sex == '女'%}style="color:red"{% endif %}>
            <td><a href="{% url 'teacher:detail' student.name %}">{{ forloop.counter }}</a></td>
            <td>{{ stu_name }}</td>
            {% endwith %}
            <td>{{ student.age }}</td>
            <td>{{ student.height }}</td>
            <td>{{ student.sex|to_sex:'en' }}</td>
{#            <td>{{ student.course }}</td>#}
{#            <td>{% for course in student.course %}{{ course }}{% endfor %}</td>#}
{#            <td>#}
{#                <ul>#}
{#                   {% for course in student.course %}#}
{#                       <li>{{ course }}</li>#}
{#                   {% endfor %}#}
{#                </ul>#}
{#            </td>#}
            <td>{% show_list student.course flag='button' %}</td>
        </tr>
{#            {% show_list student.course flag='button' %}#}
        {% endfor %}
    </table>

    <h1 style="color:red">我是首页面</h1>
    <p>现在时间是：{{ now|date:"Y年m月d日 H：i:s" }}</p>
    <p>现在时间是二：{{ now|date:date_format }}</p>
    <p>我是通过自定义模板标签实现的时间：{% current %}</p>
    <p>我是一个列表：{{ lt }}</p>
    <p>我是列表的一个值：{{ lt.1 }}</p>
    <p>我是列表的一个值相加：{{ lt.1|add:"8" }}</p>
    <p>我是列表的第一个值{{ lt|first }}</p>
    <p style = "color:red;">看这{{ lt|first|add:5 }}</p>
    <p>我是列表的最后一个值{{ lt|last }}</p>
    <p>我是列表的切片{{ lt|slice:"::-1" }}</p>
    <p>我是列表的切片{{ lt|join:"//" }}</p>
    <p>我是英文字符串{{ st }}</p>
    <p>我是英文字符串{{ st|capfirst }}</p>
    <p>我是英文字符串{{ st|lower }}</p>
    <p>我是英文字符串{{ st|upper }}</p>
    <p>我是一个字典：{{ dt }}</p>
    <p>{{ js }}</p>

{% endblock %}
