{% extends 'students/base.html' %}
{% load customer_tag_s %}
{% block title %}学生详情页{% endblock %}
{% block section %}{{ section }}{% endblock %}
{% block content %}
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
{#    {{ form.as_p }}#}
    {% for field in form %}
        <div class="form-group">

            <label for='{{ field.id_for_label }}' class="col-sm-2 control-label">{{ field.label }}</label>
            <div class="col-sm-2">
              {% add_class field "form-control" %}
            </div>
            {#            错误展示部分     #}
            {% for error in field.errors %}
                <label for='{{ field.id_for_label }}' class="col-sm-2 control-label {% if field.errors %} has-error {% endif %}">{{ error }}</label>
            {% endfor %}
          </div>

    {% endfor %}
{#    {{ detail_form.as_p }}#}
    {% for field in detail_form %}
        <div class="form-group">
            <label for='{{ field.id_for_label }}' class="col-sm-2 control-label">{{ field.label }}</label>
            <div class="col-sm-2">
              {% add_class field "form-control" %}
            </div>
          </div>
    {% endfor %}
          <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">保存</button>
          <button type="reset" class="btn btn-primary">重置</button>
          <a href="{% url 'student:student_list' %}" class="btn btn-default">返回</a>

        </div>
      </div>
</form>
{% endblock %}