<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
{# =========================================================#}
{#   <form action="{% url 'teacher:login' %}" method="get">#}
{#   <form action="" method="get">#}
{#       <p>用户名：<input type="text" placeholder="请输入用户名" name="username"></p>#}
{#       <p>密&emsp;码：<input type="password" placeholder="请输入密码" name="password"></p>#}
{#       <p><input type="submit" value="登录"></p>#}
{#   </form>#}
{# =========================================================#}
{#   <form action="" method="post">#}
{#       {% csrf_token %}#}
{#       <p>用户名：<input type="text" placeholder="请输入用户名" name="username"></p>#}
{#       <p>密&emsp;码：<input type="password" placeholder="请输入密码" name="password"></p>#}
{#       <p><input type="submit" value="登录"></p>#}
{#   </form>#}
{# =========================================================#}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file" multiple="multiple">
    <input type="submit" value="上传">
</form>
</body>
</html>